:root {
  --main: #bd93f9;
  --gray: #44475a;
  --red: #ff5555;
  --green: #50fa7b;
  --yellow: #f1fa8c;
  --orange: #ffb86c;
  --purple: var(--main);
  --pink: #ff79c6;
  --cyan: #8be9fd;
  --blue: #6272a4;

  --background: #282a36;

  --svgColor: #fff;

  --titleBarWinMinMaxUnMaxButton: #44475a;

  --buttonWhite: #fff;
  --buttonWhiteActive: #d1d1d1;
  --buttonRed: var(--red);
  --buttonRedActive: #eb4e4e;
  --buttonGreen: var(--green);
  --buttonGreenActive: #3bb75c;
  --buttonYellow: var(--yellow);
  --buttonYellowActive: #d8e081;
  --buttonOrange: var(--orange);
  --buttonOrangeActive: #dda160;
  --buttonPurple: var(--purple);
  --buttonPurpleActive: #ab73ff;
  --buttonPink: var(--pink);
  --buttonPinkActive: #be5a94;
  --buttonCyan: var(--cyan);
  --buttonCyanActive: #7cd1e4;
  --buttonBlue: var(--blue);
  --buttonBlueActive: #54628b;
  --buttonContentColor: #000;
  --buttonContentColorHover: #000;
  --buttonContentColorActive: #fff;
  --buttonWhiteContentColor: #000;
  --buttonWhiteContentColorHover: #000;
  --buttonWhiteContentColorActive: #000;

  --textInputBg: #22222c;
  --textInputColor: #a7a7a7;
  --textInputBorderColor: var(--purple);
  --textInputBgFocus: #1c1c23;
  --textInputColorFocus: #fff;
  --textInputBorderColorFocus: var(--pink);

  --notificationBg: #21222c;
  --notificationCloseBg: #44475a;
  --notificationInfoColor: var(--cyan);
  --notificationSuccessColor: var(--green);
  --notificationErrorColor: var(--red);
  --notificationAlertColor: var(--yellow);

  --dialogBg: #44475a;
  --dialogContentColor: #dadada;
  --dialogButtonsBg: #21222c;

  --loadingScreenContentColor: #dddddd;

  --projectPanelMenuBg: #21222c;
  --projectPanelMenuProjectInfoBg: var(--blue);
  --projectPanelMenuProjectInfoDescColor: #f6f6f6;
  --projectPanelMenuSectionsHoverBg: #44475a;
  --projectPanelMenuSectionsActiveBg: #343546;
}
